body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header.background {
    background-image: url('https://images.unsplash.com/photo-1573165067541-4cd6d9837902?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: #f9f9f9;
}

section#about {
    padding: 40px 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#about h1 {
    text-align: center;
    margin-bottom: 20px;
}

.all-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member-one,
.member-two,
.member-three,
.member-four {
    width: 45%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.member-one h2,
.member-two h2,
.member-three h2,
.member-four h2 {
    margin-bottom: 10px;
}

.member-one h3,
.member-two h3,
.member-three h3,
.member-four h3 {
    color: #555;
    margin-bottom: 10px;
}

section.prodev,
section.campevents {
    padding: 40px 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.prodev h1,
section.campevents h1 {
    text-align: center;
    margin-bottom: 20px;
}

.prodev div,
.campevents div {
    margin-bottom: 20px;
}

.prodev h2,
.campevents h2 {
    margin-bottom: 10px;
}

section#contacts {
    padding: 40px 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    padding: 20px;
}

form div {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div button {
    padding: 8px 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button {
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}